.header {
    background-color: rgb(48, 61, 201);
}
button:hover{
    transform: scale(1.2,1.2);
   
}
.container{
    text-align: center;
    display: flex;
    justify-content: center;

}
.box{
    border: 2px solid silver;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    height: 600px;
}
input{
    padding: 10px;
    width: 90%;
    border-radius: 20px;
}
button{
    padding: 10px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    width: 50%;
    border: solid whitesmoke;
    
}